



/*** STUDY YEAR PANEL MATRIX ***/

.quals_matrix
{
	width:500px;
}

.study_year
{		
	width:100%;
	height:auto;
	color:black;

}


.study_year_tags
{	
	float:left;
	background: url("../images/year_tags.png");
	width:35px;
	height:155px;
	
}								

.study_years 
{
	background: #B0C4DE;
	height:155px;
	width:434px;
}

.study_year 
{
	float:left;
	width:99px;
	height:25px;
	text-align:center;
	line-height:26px;
}
.study_year1 
{		
	background: #EEE8AA;	
	margin-left: 1px;
}	
.study_year1b 
{		
	margin-top: 1px;
	margin-left: 1px;
	background: #EEE8AA;								
}

.study_year2 
{		
	background: #ADD8E6;
	margin-top: 1px;
	margin-left: 1px;
}	
.study_year2b 
{		
	margin-top: 1px;
	margin-left: 1px;
	background: #ADD8E6;
	
}


.study_year3
{		
	background: #8FBC8F;
	margin-top: 1px;
	margin-left: 1px;
}	
.study_year3b 
{		
	margin-top: 1px;
	margin-left: 1px;
	background: #8FBC8F;
}





/*** LINK HOVER BEHAVIOUR ***/

.study_years .study_year a
{		
	target:_blank;
	line-height:22px;
	color:black;
	text-decoration:none;

}

.study_years .study_year_hover
{		
	target:_blank;
	line-height:22px;
	background:  #ECECEC;
	color:#808080;
	text-decoration:none;
}

.study_year_hover a
{		
	target:_blank;
	line-height:22px;
	background: #ECECEC;
	color:#808080;
	text-decoration:none;	
}




/*** FOOTER NAV BLOCKS ***/

.footnav 
{
	/*background:blue;*/
	/*float:left;*/
	width:888px;

}

.footnav ul 
{
	/*background:red;*/
	padding: 0px;
	margin: 0px;
	list-style: none;
}


.footnav ul li 
{
	float: left;
	padding-left: 1px;
	padding-top: 1px;
	position: relative;
	background: #8FBF8F;
}

.footnav ul li a 
{
	background: #4AAA42;
	width: 147px;
	color:white;
	
	display:block;
	font-size:1.2em;
	font-size-adjust:none;
	font-stretch:normal;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:normal;
	margin:0px;
	padding:0px;
	height: 26px;
	text-align:center;
	vertical-align:text-bottom;
	text-decoration:none;
	/*font-family:Verdana,sans-serif;*/
	line-height:26px;
	
	
}

.footnav ul li.hover a
{
	background: #ECECEC;
	color:#808080;
	/*text-decoration:underline;*/
}


